<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #a4b4bc;
        }

        nav {
            border: 1px solid black;
        }

        img {
            width: 250px;
            height: 250px;
        }

        #div1 {
            margin-top: -15px;
        }
    </style>
</head>

<body>
    <div id="div1">
        <div class="containar mt-3 ml-3">
            <button type="button" class="btn btn-primary btn-sm btn-dark pl-3 pr-3" style="border-radius: 30px; "
                id="rent">Rent</button>
            <button type="button" class="btn btn-secondary btn-sm btn-outline-light pl-3 pr-3"
                style="border-radius: 30px;" id="Buy">Buy</button>
        </div>
        <div class="containar">
            <nav class="navbar navbar-expand-lg navbar-light  m-3 bg-" style="border-radius: 20px;">
                <a class="navbar-brand " href="#">property search</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">listing D or location <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">
                                categery
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">house</a>
                                <a class="dropdown-item" href="#">house</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">house</a>
                            </div>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">offer type</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">townhouse</a>
                                <a class="dropdown-item" href="#">townhouse</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">townhouse</a>
                            </div>

                        </li>

                    </ul>
                    <form class="form-inline">

                        <button class="btn btn-outline-success my-2 my-sm-0 bg-dark" style="border-radius: 20px;"
                            type="submit" aria-label="search" id="search">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="containar">
            <h4 class="m-3 justify-content-start" style="float: left;">
                showing 12 of 36 result
            </h4>
            <a class="nav-link dropdown-toggle mt-2 " style="margin-left: 85% ;color: black;" href="#" role="button"
                data-toggle="dropdown" aria-expanded="false">
                sorting
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="containar p-5 ml-5">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 1.jpeg" style="border-radius: 20px;" id="img1">
                    <h3>house 1</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;" id="img11">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 2.jpeg" style="border-radius: 20px;" id="img2">
                    <h3>house 2</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;" id="img22">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 3.jpeg" style="border-radius: 20px;">
                    <h3>house 3</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 4.jpeg" style="border-radius: 20px;">
                    <h3>house 4</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 5.jpeg" style="border-radius: 20px;">
                    <h3>house 5</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/hoyse 6.jpeg" style="border-radius: 20px;">
                    <h3>house 6</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 7.jpeg" style="border-radius: 20px;">
                    <h3>house 7</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 8.jpeg" style="border-radius: 20px;">
                    <h3>house 8</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 9.jpeg" style="border-radius: 20px;">
                    <h3>house 9</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 10.jpeg" style="border-radius: 20px;">
                    <h3>house 10</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 11.jpeg" style="border-radius: 20px;">
                    <h3> house 11</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 p-2">
                    <img src="assets/prop/house 12.jpeg" style="border-radius: 20px;">
                    <h3>house 12</h3>
                    <h6>$1000,000</h6>
                    <p>this house</p>
                    <a href="#" class="btn btn-outline-light" style="border-radius: 20px;">Go somewhere
                        <i class="material-icons">&#xe5c8;</i>
                    </a>
                </div>
            </div>


            <div class="containar">
                <nav aria-label="Page navigation example " style=" border:0px; margin-top: 20px;">
                    <ul class="pagination justify-content-center ml-3">
                        <li class="page-item disabled">
                            <a class="page-link bg-dark">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link bg-dark" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link bg-dark" href="">2</a></li>
                        <li class="page-item"><a class="page-link bg-dark " href="hml.html">3</a></li>
                        <li class="page-item"><a class="page-link bg-dark " href="hl.html">4</a></li>
                        <li class="page-item">
                            <a class="page-link bg-dark" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <app-footer />
</body>