<body>
    <div class="footer-1">
        <div class="container">
            <div class="links">
                <div class="img"><img src="assets/logo.jpg" alt="Real Estate Imgae"></div>
                <p class="para">Rapidiously myocardiiate cross-platform<br> intellectual capital model.Appopriately
                    create<br>inteactive infrastructures</p>
            </div>
            <div class="links">
                <h3>Get In Touch</h3>
                <p class="foot1"><span class="material-symbols-outlined">
                        share_location
                    </span>
                    789 Inner Lane , Holy park,<br> California,USA
                </p>
                <p class="foot1"> <span class="material-symbols-outlined call">
                        phone_in_talk
                    </span>
                    +1234567890
                    <br>
                    +9876543210
                </p>
                <p class="foot1"><span class="material-symbols-outlined">
                        mail
                    </span>
                    mailinfo00"&#64;"realar.com<br> suppor24&#64;realsr.com
                </p>
            </div>
            <div class="links">
                <h3>Useful Links</h3>
                <p><a href="#"><span class="rarr">&#8250;</span> About Us</a></p>
                <p> <a href="#"><span class="rarr">&#8250;</span>Featured Properties</a></p>
                <p><a href="#"><span class="rarr">&#8250;</span>Our Best Services</a> </p>
                <p><a href="#"><span class="rarr">&#8250;</span> Rquest Visit</a> </p>
                <p><a href="#"><span class="rarr">&#8250;</span> FAQ</a> </p>
            </div>
            <div class="links">
                <h3>Explore</h3>
                <p><a href="#"><span class="rarr">&#8250;</span> All Properties</a></p>
                <p> <a href="#"><span class="rarr">&#8250;</span>Our Agent</a></p>
                <p><a href="#"><span class="rarr">&#8250;</span>All Projects</a> </p>
                <p><a href="#"><span class="rarr">&#8250;</span>Our Projects</a> </p>
                <p><a href="#"><span class="rarr">&#8250;</span> Neighborhood</a> </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="copyright">Copyright &copy 2024 Realar ,All rights reserved</div>
            <div class="social-media">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
    </footer>
</body>