/* footer 1 */
.footer-1 {
    background-color: #1e2c35;

    padding-top: 50px;
    padding-bottom: 50px;
    color: #a4b4bc;
}

.footer-1 .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-1 .links .para {
    margin-left: 15px;
    line-height: 1.8;
}

.footer-1 .links .foot1 {
    display: flex;
    line-height: 1.3;
}

.footer-1 .links .foot1 span {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-1 .links h3 {
    color: white;
}

.footer-1 .links a {
    text-decoration: none;
    cursor: pointer;
    color: #a4b4bc;
}

.footer-1 .links .rarr {
    font-size: 25px;
    padding: 10px;
}

/* end footer 1 */
/* footer */
footer {
    background-color: #a4b4bc;
    padding: 15px;
}

footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

footer .fa {
    margin-left: 10px;
    text-decoration: none;
    border: 1px solid;
    color: #1e2c35;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}