<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="about">
        <div class="content">
            <h1>About Us</h1>
            <p>Home <strong>&rarr;</strong> About Us</p>
        </div>
    </div>
    <div class="vision">
        <button class="btn">Up</button>
        <div class="container">
            <div class="content">
                <div class="text">
                    <h1>Realr Vission & Mission</h1>
                    <p>You ara the center of our process. Your needs,your wants and your golas<br> we activity
                        litsten,always
                        keep it even keel -- never rushing you or<br> pushing somthing you don`t need.</p>
                    <p>Full transparency is our goal. We saty connected while building your home ,<br> clearly outlining
                        next steps and collaborating with you to select personal<br> design details. From day one, your
                        peace of mind is our highst priority</p>
                </div>
                <div class="img">
                    <img src="assets/about/vision1.jpg" alt="">
                </div>
            </div>
            <div class="content n-2">
                <div class="img">
                    <img src="assets/about/vision2.jpg" alt="">
                </div>
                <div class="text">
                    <p>we design homes for how people live. Centered is our philosophy,<br> our approach to creating
                        spaces that enegrize inspire.<br>
                        Full transparency is our goal.<br> We saty connected while building your home ,<br> clearly
                        outlining
                        next steps and collaborating with you to select personal<br> design details. From day one, your
                        peace of mind is our highst priority</p>
                    <p></p>
                </div>
            </div>
            <div class="content n-3">
                <div class="text">
                    <p>That`s why we build every home like it`s our own. Bulding since<br>1988,we hold ourselves to the
                        highest standards of quality and <br> construction integrity. In addition to the 28 required
                        country inspection,<br> we complete nine formal Inland inespctions ,plus nine more
                        third-party<br>critical inpection - that`s 18 additional formal inspection in every<br> Inland
                        Home , by choicee . Our goal is that each home will seve your<br> family and other ,for
                        generation
                        to come.</p>
                </div>
                <div class="img">
                    <img class="" src="assets/about/vision3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="choose">
        <div class="container">
            <div class="text">
                <h1>Why Choose Us ?</h1>
                <p>We are a real estate firm with over 20 years of expertise, and our main goal is <br> to provide
                    amazing location to our partners and clients. Withtin the luxury real <br> estate market , our
                    agency offers customized solutions.</p>
            </div>
            <div class="contact-box"><a href="#">Contact Us &rarr;</a></div>
        </div>
    </div>

    <div class="choose-2">
        <div class="container">
            <div class="card">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        emoji_transportation
                    </span>
                </div>
                <div class="text">
                    <h2>Property Valuation</h2>
                    <p>Genrerous amounts of south facing glazing maximize<br>the solar for most of the year</p>
                </div>
                <div class="img"><img src="assets/about/vision2.jpg" alt=""></div>
            </div>
            <div class="card">
                <div class="icon">
                    <span class="material-symbols-outlined center">
                        corporate_fare
                    </span>
                </div>
                <div class="text">
                    <h2>Property Management</h2>
                    <p>Genrerous amounts of south facing glazing maximize<br>the solar for most of the year</p>
                </div>
                <div class="img"><img src="assets/about/choose1.jpg" alt=""></div>
            </div>
            <div class="card">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        apartment
                    </span>
                </div>
                <div class="text">
                    <h2>Invest Opportunities</h2>
                    <p>Genrerous amounts of south facing glazing maximize<br>the solar for most of the year</p>
                </div>
                <div class="img"><img src="assets/about/choose2.jpg" alt=""></div>
            </div>
        </div>
    </div>


    <div class="customer-head">
        <div class="container">
            <div class="text">
                <h1>What Our Customer Says?</h1>
                <p>Realar help you easily create a real estate trading website. With the <br> function Register,Login ,
                    Post real estate news.</p>
            </div>
            <div class="arrow">
                <span>&larr;</span>
                <span>&rarr;</span>
            </div>
        </div>
    </div>

    <div class="customer">
        <div class="container">
            <div class="card">
                <div class="img">
                    <img src="assets/about/vision2.jpg" alt="">
                </div>
                <div class="opinon-customer">
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span><br>
                    <p>
                        "Home is where love resides, memories are <br>created ,and dreams are nurured.i`ve found <br> my
                        sanctuary in this beatiful property .Finding <br>the perfect that ewsonates with your own."
                        <br>
                    </p>
                    <div class="info">
                        <img src="assets/about/customer1.jpg" alt="">
                        <div class="text-info">
                            <h3>Andrew Simon</h3>
                            <p>Property Epert</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="assets/about/vision2.jpg" alt="">
                </div>
                <div class="opinon-customer">
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span><br>
                    <p>
                        "Home is where your story beings, memories <br>created ,and dreams are nurured.i`ve found
                        <br> my
                        sanctuary in this beatiful property .Finding <br>the perfect that ewsonates with your own."
                        <br>
                    </p>
                    <div class="info">
                        <img src="assets/about/customer2.jpg" alt="">
                        <div class="text-info">
                            <h3>Ralph Edwards</h3>
                            <p>Property Epert</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/about/circleimg.jpg" alt="">
        </div>
    </div>

    <div class="choose">
        <div class="container">
            <div class="text">
                <h1>Meet The Awesome Team</h1>
                <p>Realar help you easily create a real estate trading website. With the <br> function Register,Login ,
                    Post real estate news.</p>
            </div>
            <div class="contact-box"><a href="#">View All Teams &rarr;</a></div>
        </div>
    </div>

    <div class="slider">
        <div class="container">


            <div class="card-list">
                <div class="img"><img src="assets/about/emp4.jpg" alt="Teams">
                    <div class="info-team">
                        <div class="text">
                            <h4>Jhany Wilson</h4>
                            <p>Propetey Expert</p>
                        </div>
                        <span class="material-symbols-outlined call">
                            phone_in_talk
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-list">
                <div class="img"><img src="assets/about/emp5.jpg" alt="Teams">
                    <div class="info-team">
                        <div class="text">
                            <h4>Jhany Wilson</h4>
                            <p>Propetey Expert</p>
                        </div>
                        <span class="material-symbols-outlined call">
                            phone_in_talk
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-list">
                <div class="img"><img src="assets/about/emp6.jpg" alt="Teams">
                    <div class="info-team">
                        <div class="text">
                            <h4>Jhany Wilson</h4>
                            <p>Propetey Expert</p>
                        </div>
                        <span class="material-symbols-outlined call">
                            phone_in_talk
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="icons">
        <div class="container">
            <div class="icon">
                <img src="assets/about/brand_2_1.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/about/brand_2_2.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/about/brand_2_3.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/about/brand_2_4.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/about/brand_2_5.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/about/brand_2_6.jpg" alt="">
            </div>
        </div>
    </div>
    <app-footer />
</body>