<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="blog">
        <h1>Blog Post</h1>
        <p>Home &#x2192; blog</p>
    </div>
    <div class="raw">
        <div class="col-7">
            <div class="post">
                <img src="assets/picture/photo.png" alt="" width="100%">
                <span class="material-icons-outlined">
                    perm_identity
                </span> by David |
                <span class="material-icons-outlined">
                    schedule
                </span> 5 jun ,2024 |
                <span class="material-icons-outlined">
                    house
                </span> modern house
                <h2>house 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula
                        venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus
                        vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In
                        at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                        venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                        porta.</span></p>
                <button onclick="" id="myBtn">Read more &#x2192; </button>
                <img src="assets/picture/photo2.png" alt="" width="100%">
                <span class="material-icons-outlined">
                    perm_identity
                </span> by David |
                <span class="material-icons-outlined">
                    schedule
                </span> 5 jun ,2024 |
                <span class="material-icons-outlined">
                    house
                </span> modern house
                <h2>house 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula
                        venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus
                        vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In
                        at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                        venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                        porta.</span></p>
                <button onclick="" id="myBtn">Read more &#x2192;</button>
                <img src="assets/picture/house5.jpg" alt="" width="100%">
                <span class="material-icons-outlined">
                    perm_identity
                </span> by David |
                <span class="material-icons-outlined">
                    schedule
                </span> 5 jun ,2024 |
                <span class="material-icons-outlined">
                    house
                </span> modern house
                <h2>house 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula
                        venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus
                        vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In
                        at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                        venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                        porta.</span></p>
                <button onclick="" id="myBtn">Read more &#x2192; </button>
            </div>
            <div class="ta">
                <div>
                    <p>tag :</p>
                </div>
                <div>
                    <button onclick="" type="button">Apartment</button>
                    <button onclick="" type="button">Buyer</button>
                    <button onclick="" type="button">Modern</button>
                    <button onclick="" type="button">Luxury</button>
                </div>
            </div>


            <form action="/action_page.php" class="f">

                <input type="text" id="fname" placeholder="full name" minlength="10" required>
                <input type="email" id="email" placeholder="email" required>
                <input type="website" placeholder="website" required>
                <textarea class="t" name="message" placeholder="Your comment" rows="6" cols="50" required></textarea>
                <input type="submit" value="Submit">
            </form>


        </div>
        <div class="col-5">
            <div class="abdo">
                <input type="text" name="" placeholder="search..... ">

                <table>
                    <tr>
                        <th>
                            <h3>categories</h3>
                        </th>
                    </tr>
                    <tr>
                        <td><span class="material-icons-outlined">
                                apartment
                            </span> Apartment </td>
                        <td>(10)</td>
                    </tr>
                    <tr>
                        <td><span class="material-icons-outlined">
                                apartment
                            </span> Real Estate </td>
                        <td>(10)</td>
                    </tr>
                    <tr>
                        <td><span class="material-icons-outlined">
                                apartment
                            </span> Property</td>
                        <td>(15)</td>
                    </tr>
                    <tr>
                        <td><span class="material-icons-outlined">
                                newspaper
                            </span> News&Tips</td>
                        <td>(16)</td>
                    </tr>
                    <tr>
                        <td><span class="material-icons-outlined">
                                apartment
                            </span> Modern Houses</td>
                        <td>(30)</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>
                            <h3>Recent posts</h3>
                        </th>
                    </tr>
                    <tr>
                        <td><img src="assets/picture/house4.jpg" alt="" width="90px"></td>
                        <td>
                            <p>Exploring the green spaces of realar residence <br> <span
                                    class="material-icons-outlined">
                                    schedule
                                </span>5 jun ,2024 </p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/picture/house2.jpg" alt="" width="90px"></td>
                        <td>
                            <p>Harmony with nature of realar residence <br> <span class="material-icons-outlined">
                                    schedule
                                </span>5 jun ,2024 </p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/picture/house3.jpg" alt="" width="90px"></td>
                        <td>
                            <p>Exploring the green spaces of realar residence <br> <span
                                    class="material-icons-outlined">
                                    schedule
                                </span>5 jun ,2024 </p>
                        </td>
                    </tr>
                </table>
                <div class="lb">
                    <div>
                        <h2>Popular Tags</h2>
                    </div>
                    <hr>
                    <div>
                        <button onclick="" type="button">Business</button>
                        <button onclick="" type="button">Buyer</button>
                        <button onclick="" type="button">Modern</button>
                        <button onclick="" type="button">Luxury</button>
                        <button onclick="" type="button">Real Estate</button>
                        <button onclick="" type="button">Rent</button>
                        <button onclick="" type="button">Innovate</button>
                        <button onclick="" type="button">Sale</button>

                    </div>
                </div>
                <div class="i">
                    <div class="j">
                        <h3>Need To Help ? We Are Hare To Help You </h3>
                        <div class="l"><span class="material-icons-outlined">
                                real_estate_agent
                            </span>
                            <div>
                                <p>REALAR
                                <P> LIVING SOLUTIONS </P>
                            </div>
                        </div>
                        <p>You Get Online Support </p>
                        <p>+256551236556</p>
                        <button onclick="" id="myBtn"> Read more </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer />
</body>