<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

    <main class="background">
        <div class="content">
            <a href="">Sales &rarr;</a>
            <a href="">Rentals &rarr;</a>
            <a href="">commercial &rarr;</a>
        </div>
        <div class="content-h">
            <h1>Experience The Harmonious Blend Of Luxury</h1>
        </div>
        <div class="property-search-container">
            <p class="description">Property search</p>

            <div class="property-search">

                <div class="search-item">
                    <input type="text" placeholder="Listing ID or Location">
                </div>
                <div class="search-item">
                    <select>
                        <option value="">Category</option>
                    </select>
                </div>
                <div class="search-item">
                    <select>
                        <option value="">Offer Type</option>
                    </select>
                </div>
                <div class="search-item">
                    <button>Search</button>
                </div>
            </div>
        </div>
    </main>
    <div class="featured-listing">
        <hr>
        <p>featured Listing</p>
        <hr>
        <div class="find">
            <div class="left">
                <h2>Find Your Dream Home Today</h2>
                <p>Quis nulla blandit vulputate morbi adipiscing sem vestibulum,Nulla turpis integer<br> dui sed posuere
                    sem. Id molestie mi arcu gravida lorem potenti</p>
            </div>
            <div class="right">
                <button class="b1">Rent</button>
                <button class="b2">Buy</button>
            </div>
        </div>
    </div>
    <div class="gallary">
        <div class="img-gallay">
            <img src="assets/picture/Baas-architecten-villa-berkel-enschot-06.jpg" alt="img">
            <div class="info">
                <div class="details">
                    <p><span class="icon">🛏️</span> Bed 4 <span class="icon">🛁</span> Bath 2 <span
                            class="icon">📏</span>
                        1500 sqft</p>

                    <hr>
                    <h3>Town Houses</h3>
                    <p>$1500.00 USD/night</p>
                    <p>California</p>
                </div>
                <button class="detail-btn">Detail &rarr;</button>
            </div>

        </div>

        <div class="img-gallay">
            <img src="assets/picture/4770698-a9fdfo.webp" alt="img">
            <div class="info">
                <div class="details">
                    <p><span class="icon">🛏️</span> Bed 4 <span class="icon">🛁</span> Bath 2 <span
                            class="icon">📏</span>
                        1500 sqft</p>
                    <hr>

                    <h3>Family Houses</h3>
                    <p>$1500.00 USD/night</p>
                    <p>California</p>
                </div>
                <button class="detail-btn">Detail &rarr;</button>
            </div>

        </div>
        <div class="img-gallay">
            <img src="assets/picture/1001721299779.jpg" alt="img">
            <div class="info">
                <div class="details">
                    <p><span class="icon">🛏️</span> Bed 4 <span class="icon">🛁</span> Bath 2 <span
                            class="icon">📏</span>
                        1500 sqft</p>
                    <hr>

                    <h3>Apartments House</h3>
                    <p>$1500.00 USD/night</p>
                    <p>California</p>
                </div>
                <button class="detail-btn">Detail &rarr;</button>
            </div>

        </div>
        <div class="img-gallay">
            <img src="assets/picture/hero_thumb_2_1.png" alt="img">
            <div class="info">
                <div class="details">
                    <p><span class="icon">🛏️</span> Bed 4 <span class="icon">🛁</span> Bath 2 <span
                            class="icon">📏</span>
                        1500 sqft</p>
                    <hr>

                    <h3>Modern House</h3>
                    <p>$1500.00 USD/night</p>
                    <p>California</p>
                </div>
                <button class="detail-btn">Detail &rarr;</button>
            </div>

        </div>
    </div>

    <div class="group">
        <div class="team-group">
            <h2>20+</h2>
            <p>Years of Experiences</p>
        </div>
        <div class="team-group">
            <h2>12K+</h2>
            <p>Featured Projects</p>
        </div>
        <div class="team-group">
            <h2>985+</h2>
            <p>Modern Houses</p>
        </div>
        <div class="team-group">
            <h2>85+</h2>
            <p>Team Members</p>
        </div>
        <div class="team-group">
            <h2>25K+</h2>
            <p>Satisfied Clieants</p>
        </div>
        <div class="team-group">
            <h2>45+</h2>
            <p>Trusted Partners</p>
        </div>
    </div>
    <div class="Services">
        <hr>
        <p>Services</p>
        <hr>
        <div class="find">
            <div class="left">
                <h2>Your Best Possible Solutions</h2>
                <p>Our thoughtfully designed neighborhood, which offers a special blend of <br> eco-friendly living and
                    convenience, is a mounment to sustainable growth</p>
            </div>
            <div class="right">
                <button class="Browse">Browse All Service</button>
            </div>
        </div>
    </div>

    <div class="Services-img">
        <div class="img-services">
            <div class="service-info">
                <hr>
                <img src="assets/picture/group_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="" class="image"
                    id="hover-image">
                <h2>Trusted Developer</h2>
                <p>Generous amounts of south facing glazing maximize the solar <br> gains for most of the year</p>
            </div>
            <div class="ser-img">
                <img src="assets/picture/1-1-2.png" alt="">
                <div class="overlay">
                    <div class="social-media">
                        <div class="arrow">
                            <a href=""><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="img-services">
            <div class="service-info">
                <hr>
                <img src="assets/picture/attach_money_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="" class="image"
                    id="image-hover">

                <h2>Safe & Trustworthy</h2>
                <p>All living, dining, kitchen and play areas were <br>
                    devised by attached to the home</p>
            </div>
            <div class="ser-img">
                <img src="assets/picture/booking_1_1.png" alt="">
                <div class="overlay">
                    <div class="social-media">
                        <div class="arrow">
                            <a href=""><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="img-services">
            <div class="service-info">
                <hr>
                <img src="assets/picture/verified_user_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="" class="image"
                    id="image-hover1">
                <h2>Zero Commissions</h2>
                <p>The studio used the existing foundations to reduce <br>
                    client costs and worked.</p>
            </div>
            <div class="ser-img">
                <img src="assets/picture/blog_grid_1.jpg" alt="">
                <div class="overlay">
                    <div class="social-media">
                        <div class="arrow">
                            <a href=""><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="img-services">
            <div class="service-info">
                <hr>
                <img src="assets/picture/headset_mic_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="" class="image"
                    id="image-hover2">
                <h2> Dedicated Support</h2>
                <p>All-inclusive real estate services to facilitate <br>
                    the easy management of your properties</p>
            </div>

            <div class="ser-img">
                <img src="assets/picture/dare_to.jpg" alt="">
                <div class="overlay">
                    <div class="social-media">
                        <div class="arrow">
                            <a href=""><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="About-Us">

        <div class="info-about">
            <hr>
            <p id="au">About-Us</p>
            <hr>
            <h2>Our Behind Story</h2>
            <p>While surrounded by the splendor of nature, a concept of balancing luxury<br>
                and sustainability. Realer Residence therefore became a symbol of this <br>
                admirable endeavor</p>
            <div class="about-a ">
                <a href="" id="a1">Get in Touch &rarr;</a>
                <a href="" id="a2">More About Realer &rarr;</a>
            </div>

        </div>

        <div class="images-about">
            <img src="assets/Home/About1.jpg" alt="image" class="img1">
            <img src="assets/Home/About2.jpg" alt="image" class="img2">
            <img src="assets/Home/About3.jpg" alt="image" class="img3">
            <img src="assets/Home/About4.jpg" alt="image" class="img4">
            <img src="assets/Home/About5.jpg" alt="image" class="img5">

        </div>
    </div>
    <!-- start section our last projects -->
    <div class="head-last-projects">
        <div class="container">
            <div class="text">
                <p class="projec">Projects</p>
                <h1>Our Lastest Projects</h1>
            </div>
            <div class="Browser"><a href="">Browse All Projects &rarr; </a></div>

        </div>
    </div>
    <div class="last-projects">
        <div class="card">
            <div class="imge">
                <img src="assets/picture/1-1-2.png" alt="">
                <div class="over">
                    <p>&rarr;<br>Look More. </p>
                </div>
            </div>
            <div class="text">
                <h3>01.Luxury Apartment</h3>
                <p>architecture and engineer collaborate to create details <br> design plans that translate
                    concepts into realar team <br> feasible structure</p>
            </div>
        </div>
        <div class="card">
            <div class="imge">
                <img src="assets/picture/image.jpg" alt="">
                <div class="over">
                    <p>&rarr;<br>Look More. </p>
                </div>

            </div>

            <div class="text">
                <h3>02.Family House</h3>
                <p>Many modern construtoin companies focus on sale<br> sustainble buldig practice,realar incorporation
                    <br> eco-friendly matrial energy-efficient
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imge">
                <img src="assets/picture/2-2.png" alt="">
                <div class="over">
                    <p>&rarr;<br>Look More. </p>
                </div>

            </div>

            <div class="text">
                <h3>03.Luxury Bedroom </h3>
                <p>Archtitcts and engineers collaborate to creat detail <br> design plans that tranlate concepts into
                    realar team<br> feasilble structure</p>
            </div>
        </div>
        <div class="card">
            <div class="imge">
                <img src="assets/picture/2-6.png" alt="">
                <div class="over">
                    <p>&rarr;<br>Look More. </p>
                </div>
            </div>
            <div class="text">
                <h3>04.Eco House</h3>
                <p>Many modern construtoin companies focus on sale<br> sustainble buldig practice,realar incorporation
                    <br> eco-friendly matrial energy-efficient
                </p>
            </div>
        </div>
    </div>
    <div class="form-visit">
        <div class="container">
            <form class="form" action="">
                <h1>schedule a visit</h1>
                <span class="material-symbols-outlined">
                    person
                </span>
                <input type="text" placeholder="First Name" name="name" class="fname" />
                <br>
                <span class="material-symbols-outlined email">
                    mail
                </span>
                <input type="email" placeholder="Yout Email" name="email">
                <br>
                <select name="" id="" placeholder="Select Property type">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <br>
                <span class="material-symbols-outlined msge">
                    forum
                </span>
                <textarea name="" cols="15" rows="5" disabled placeholder="Your Message" id=""></textarea>
                <button type="submit" class="send-btn">Submit <span class="material-symbols-outlined">
                        send
                    </span></button>
            </form>
            <div class="txt">
                <h1>We Manage Your Project,<br>You Run Your Life</h1>
            </div>
        </div>
    </div>
    <div class="icons">
        <div class="container">
            <div class="icon">
                <img src="assets/picture/brand1.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/picture/brand2.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/picture/brand3.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/picture/brand4.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/picture/brand5.jpg" alt="">
            </div>
            <div class="icon">
                <img src="assets/picture/brand6.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- customer says -->
    <div class="head-last-projects">
        <div class="container">
            <div class="text">
                <p class="projec">Testimonial</p>
                <h1>What Our Customer Says</h1>
            </div>
            <div class="Arrow"><a href="#"> &larr;</a><a href=""> &rarr; </a></div>
        </div>
    </div>
    <div class="customer">
        <div class="container">
            <div class="card-opinion start">
                <p>"A home that perfectly blends sustainability with luxury until i <br> discoverd Ecoland Residence.
                    From the moment i stepped into<br> this community,I knew it was where wanted to live. The <br>
                    commitment to eco-friendly Living, coupled with modern <br> amenities, is truly commendable."
                </p>
                <div class="star">
                    <div class="all-stars">
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                    </div>
                    <div class="comma">
                        <img src="assets/picture/comma1.jpg" alt="">
                    </div>
                </div>
                <div class="info-customer">
                    <div class="imge"><img src="assets/about/customer1.jpg" alt="">
                        <div class="name-customer">
                            <h3>Andrew Siomn</h3>
                            <p>Property expert </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-opinion">
                <p>"A home that perfectly blends sustainability with luxury until i <br> discoverd Ecoland Residence.
                    From the moment i stepped into<br> this community,I knew it was where wanted to live. The <br>
                    commitment to eco-friendly Living, coupled with modern <br> amenities, is truly commendable."
                </p>
                <div class="star">
                    <div class="all-stars">
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                    </div>
                    <div class="comma">
                        <img src="assets/picture/comma1.jpg" alt="">
                    </div>
                </div>
                <div class="info-customer">
                    <div class="imge"><img src="assets/about/customer1.jpg" alt="">
                        <div class="name-customer">
                            <h3>Andrew Siomn</h3>
                            <p>Property expert </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-opinion">
                <p>"A home that perfectly blends sustainability with luxury until i <br> discoverd Ecoland Residence.
                    From the moment i stepped into<br> this community,I knew it was where wanted to live. The <br>
                    commitment to eco-friendly Living, coupled with modern <br> amenities, is truly commendable."
                </p>
                <div class="star">
                    <div class="all-stars">
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                        <span class="stars">&starf;</span>
                    </div>
                    <div class="comma">
                        <img src="assets/picture/comma1.jpg" alt="">
                    </div>
                </div>
                <div class="info-customer">
                    <div class="imge"><img src="assets/about/customer1.jpg" alt="">
                        <div class="name-customer">
                            <h3>Andrew Siomn</h3>
                            <p>Property expert </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="headerr">
        <div class="header-contentt">
            <p class="p1"><span>ـــــــ</span><br>
                Get In Touch<br>
                <span>ـــــــ</span>
            </p>
            <h1>Meet The Awesome Team</h1>
            <p class="ppp">Realar helps you easily create a real<br> estate tracking Register.</p>
        </div>
        <div class="request-visitt"><a href="#"><button>Request A Visit &rarr;</button></a></div>
    </div>

    <div class="teamm-container">
        <div class="teamm-member">
            <div class="imagee-container">
                <img src="assets/picture/team_2_4.jpg" alt="Team Member">
                <div class="overlayy">
                    <div class="social-mediaa">
                        <div class="iconss">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <br>
                        <div class="arroww">
                            <a href="../Agent Details/Agent-Details.html?id=4"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inffo">
                <div class="text-container">
                    <h3>Emily Turner</h3>
                    <p>Property Expert</p>
                </div>
                <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
        </div>
        <!-- عضو الفريق الثاني -->
        <div class="teamm-member">
            <div class="imagee-container">
                <img src="assets/picture/team_2_1.jpg" alt="Team Member">
                <div class="overlayy">
                    <div class="social-mediaa">
                        <div class="iconss">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <br>
                        <div class="arroww">
                            <a href="../Agent Details/Agent-Details.html?id=1"><i class="fas fa-arrow-right"
                                    id="arrowIcon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inffo">
                <div class="text-container">
                    <h3>Amber Johnson</h3>
                    <p>Property Expert</p>
                </div>
                <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
        </div>
        <!-- //////////////////////////////عضو الفريق الثالث -->
        <div class="teamm-member">
            <div class="imagee-container">
                <img src="assets/picture/team_2_6.jpg" alt="Team Member">
                <div class="overlayy">
                    <div class="social-mediaa">
                        <div class="iconss">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <br>
                        <div class="arroww">
                            <a href="../Agent Details/Agent-Details.html?id=6"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inffo">
                <div class="text-container">
                    <h3>John Doe</h3>
                    <p>Property Expert</p>
                </div>
                <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
        </div>
        <!-- /////////////////////////////////////////عضو الفريق الثالث -->
        <div class="teamm-member">
            <div class="imagee-container">
                <img src="assets/picture/team_2_5.jpg" alt="Team Member">
                <div class="overlayy">
                    <div class="social-mediaa">
                        <div class="iconss">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <br>
                        <div class="arroww">
                            <a href="../Agent Details/Agent-Details.html?id=6"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inffo">
                <div class="text-container">
                    <h3>Lily Carter</h3>
                    <p>Property Expert</p>
                </div>
                <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
        </div>

        <!-- النهايه:///////////////////////////////////////////// -->
    </div>

    <!-- part2/////////////////////////////////////////////////////////////////////////// -->

    <div class="ffeatured-listing">
        <hr>
        <p>News & Blog</p>
        <hr>
        <div class="ffind">
            <div class="lleft">
                <h2>Read Our Insights</h2>
                <p>
                    Architects and engineers collaborate to create detailed design plans<br>that translate concepts into
                    feasible structures
                </p>
            </div>
            <div class="rright">
                <button class="b1">Rent</button>
                <button class="b2">Buy</button>
            </div>
        </div>
    </div>

    <div class="ggallary">
        <div class="img-gall">
            <img src="assets/picture/blog_grid_1.jpg" alt="img">
            <div class="inffoo">
                <div class="deetails">
                    <p class="dataa">April 22, &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 08 min read</p>
                    <h3>Innovative structures rise,<br>blending construction and project</h3>
                </div>
                <button class="deetail-btn">Read More &rarr;</button>
            </div>
        </div>

        <div class="img-gall">
            <img src="assets/picture/sal2.jpg" alt="img">
            <div class="inffoo">
                <div class="deetails">
                    <p class="dataa">April 22, &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 08 min read</p>
                    <h3>What trends do we expect to start<br>growing in the coming future</h3>
                </div>
                <button class="deetail-btn">Read More &rarr;</button>
            </div>
        </div>
        <div class="img-gall">
            <img src="assets/picture/dare_to.jpg" alt="img">
            <div class="inffoo">
                <div class="deetails">
                    <p class="dataa">April 22, &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 08 min read</p>
                    <h3>What trends do we expect to start<br>growing in the coming future</h3>
                </div>
                <button class="deetail-btn">Read More &rarr;</button>
            </div>
        </div>
        <div class="img-gall">
            <img src="assets/picture/ra2.webp" alt="img">
            <div class="inffoo">
                <div class="deetails">
                    <p class="dataa">April 22, &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 08 min read</p>
                    <h3>The workplace tells and screams<br>for more top story bloggers</h3>
                </div>
                <button class="deetail-btn">Read More &rarr;</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>